.book-btn {
  margin-top: 50px;
  margin-left: 20px;
  padding: 20px;
  font-weight: 500;
  border-radius: 10px;
  color: white;
  background-color: dodgerblue;
  box-shadow: 6px 6px 5px #aaaaaa;
  transition: transform 550ms;
}

.book-btn:hover {
  color: white;
  transform: scale(1.15);
}
